<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Services</title>
  <script src="/static/scripts/app.js" type="module"></script>
  <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
  <header>
    <h1>Cas d'étude – Application de gestion de services</h1>
  </header>

  <section class="row card">
    {{ if not .User.Email }}
      <form action="/Connect" method="post" class="connect">
        <label>Votre email:
          <input name="email" value="">
        </label>
        <button class="btn">Se connecter</button>
      </form>
    {{ else }}
    <form action="/Disconnect" method="post">
      <button class="btn">Se déconnecter</button>
    </form>
    {{ end }}
    <p>Utilisateur: <b>{{.User.Email}}</b></p>
    <p>Rôle: <b>{{.User.Role}}</b></p>
  </section>

  <main class="row">
    <article class="card" style="flex:1">
      <h3>Services</h3>
      <section id="svc">
        {{range .Services}}
          <p>
            ID: {{.ID}} | Nom: {{.Name}} | Type: {{.Type}}
          </p>
          <p>
            créneaux:
            {{range .Slots}}
              | {{.}}
            {{end}}
          </p>
        {{end}}
      </section>
    </article>

    <article class="card" style="flex:1">
      <h3>Réserver</h3>
      <form action="/BookingSlot" method="post">
        <input type="hidden" name="act" value="book">

        <label>
          Service ID:
          <input name="servicesId" type="text" list="serviceIdList">
        </label><br>

        <label>
          Crenau:
          <input name="slot" placeholder="2025-10-20 09:00">
        </label><br>

        <button class="btn">Réserver</button>
      </form>
    </article>

    <article class="card" style="flex:1">
      <h3>Mes réservations</h3>
      <section id="bk">
        {{range .Bookings}}
          <p>
            ID: {{.ID}} | Service ID: {{.Service}} | Créneau: {{.Slot}}
            {{if eq $.User.Role "admin"}} {{.Email}} {{end}}
          </p>
          <form action="/CancelBooking" method="post" class="row">
            <input name="bookingId" type="number" hidden value="{{.ID}}">
            <button class="btn danger">Annuler réservation</button>
          </form>
        {{end}}
      </section>
    </article>
  </main>

  {{if eq .User.Role "admin"}}
    <aside class="card">
      <h3>Admin</h3>

      <form action="/AddService" method="post" class="row">
        <input name="name" placeholder="Nom du service">
        <select name="type">
          <option>room</option>
          <option>equipment</option>
          <option>autre</option>
        </select>
        <button class="btn">Ajouter service</button>
      </form>

      <form action="/AddSlot" method="post" class="row">
        <input name="serviceid" type="number" placeholder="Service ID">
        <input name="slot" type="datetime-local">
        <button class="btn">Ajouter créneau</button>
      </form>
    </aside>
  {{end}}
</body>
</html>
